h1 {
    color: blue;
    font-family:serif;
    font-size: 150%;
  }

  p{
    color:blueviolet;
    font-size:x-large;
  }
  
table{
  border: 1;
}

th{
  background-color: darkgray;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

td{
  background-color: lightcyan;
}




